/* style.css - IEP Portal stylesheet
  Spring 100 CSC 450 Capstone, Group 4
  Author: Sienna-Rae Johnson
  Written: 02/11/2022
  Revised: 
  02/21/2022 by Lisa Ahnell : added .navigation for navigation links
  04/25/2022 by Lisa Ahnell : Color changes, updates to dashboard
  04/26/2022 by Lisa Ahnell : Added styling for provider forms, Dashboard color adjustments
  04/30/2022 by Lisa Ahnell : Added styling for footer, messages badge
  */



/* ********** Page settings ********** */
* {
  box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  margin: 0em;
}
/* 
.navigation {
  font: bold;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  border: 1px solid black;
} */

.gridContainer {
  display: grid;
  grid-template-areas:
    'top top top top top top'
    'left middle middle middle middle middle'
    'bottom bottom bottom bottom bottom bottom';
}

/* ********** Text-specific settings ********** */
a {
  border: none;
  color: black;
  margin: 0em 0em;
  padding: 0.2em 0em;
  text-align: center;
  text-decoration: none;
}

.docLink {
  text-decoration: underline;
  color: rgba(29, 78, 137, 1);
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  grid-area: header-left;
  margin: 0em;
  padding: 0.3em 0.5em;
  text-align: left;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  margin: 0.2em 1.5em;
  text-align: right;
  font-size: medium;
}

h3 {
  margin: 0em;
  padding-left: 0em;
  padding-right:0.5em;
  padding-top:0.3em;
  padding-bottom: 0.3em;
}

h4 {
  margin: 0em;
  padding: 0em;
}


/* ********** Header section settings ********** */
#accountHolderInfo {
  grid-area: header-right;
  margin: 0em;
  padding: 1em 0em;
}

header {
  background-color: rgba(29, 78, 137, 1);
  color: #ffffff;
  display: grid;
  grid-template-areas: 
    'header-left header-left header-mid header-mid header-right header-right'
    'header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom';
  grid-area: top;
  height: fit-content;
}


/* ********** Horizontal navigation settings ********** */
#horizontalNav {
  /*display: flex;
  flex-flow: row wrap;*/
  grid-area: header-bottom;
  justify-content: space-around;
  width: 100%;
  overflow: auto;
}

.hNavButton {
  background-color: rgba(29, 78, 137, 1);
  color: #ffffff;
  min-width: 16.66%;
  float: left;
  text-align: center;
  padding: 1em;
  font-size: medium;
}

.hNavButton:hover {
  background-color: rgba(251, 209, 162, 1);
  color: #212121;
}

.hNavButton:active {
  background-color: rgba(251, 209, 162, 1);
  color: #212121;
}

@media screen and (max-width: 500px) {
  .hNavButton {
    float: none;
    display: block;
  }
}

span.badge {
  position: relative;
  top: -10px;
  right: -10px; 
  padding: 5px 10px;
  border-radius: 50%;
  background: #cd2026;
  color: white;
  font-size: small;
}


/* ********** Left side settings ********** */
#verticalNav {
  background-color: rgba(125, 207, 182, 1);
  display: flex;
  flex-flow: column wrap;
  grid-area: left;
  padding: 0em;
  /* width: 20%; */

}

.vNavButton {
  background-color: inherit;
  text-align: left;
}

/* ********** Vertical Navigation Tab settings ********** */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
 .tab {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
 .tab:hover {
  background-color: #e1f4ee;
  font-weight: bolder;
  font-style: oblique;
} 

/* Create an active/current tablink class */
 .tab.active {
  background-color: #e1f4ee;
  font-weight: bolder;
  font-variant-caps: small-caps;
} 


/* ********** Middle area settings ********** */
.mainContent {
  display: flex;
  flex-flow: column wrap;
  grid-area: middle;
  justify-content: space-around;
  padding: 0.5em;
  
  background-color: #e1f4ee;
}

#mainContent {
  display: flex;
  flex-flow: column wrap;
  grid-area: middle;
  justify-content: space-around;
  padding: 0.3em;
}

.contentCard {
  border: solid black 2px;
  border-radius: 5px;
  margin: 0.3em;
  padding: 1em;
  background-color: #ffffff;
}

.contentCard.goal {
  border-color: rgba(29, 78, 137, 1);
  background-color: #eef4fb;
}
.contentCard.objective {
  border-color: #613305;
  background-color: #f6f3f1;

}
.contentCard.graphView {
  width: 90%;
  min-width: 400px;
  border-color: rgba(247, 146, 86, 1);
  background-color: #ffffff;
}


/* ********** Form, button, input settings ********** */
.flex-formContainer {
  min-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: baseline;
  align-content: stretch;
}

.flex-formContainer>div {
  min-width: 12em;
  padding-right: 0.2em;
  padding-bottom: 0.2em;
}
/* Responsive layout for forms */
@media (max-width: 800px) {
  .flex-formContainer {
    flex-direction: column;
  }
}

form.providerForm {
  margin: 0.2em;
  padding: 0.2em;
  border: solid rgba(0, 178, 202, 1) 2px;
  border-radius: 5px;
}

label {
  width: 10em;
  padding: 0.5em;
}

input {
  width : 14em;
}

input[type=button], input[type=submit] {
  margin : 0.2em;
  padding : 1em 2em;
  border: none;
  border-radius: 0%;
  background-color: rgba(29, 78, 137, 1);
  color : #ffffff;
  font-size: medium;
}

input[type=button]:hover, input[type=submit]:hover {
  font-weight: bold;
  background-color: rgba(0, 178, 202, 1);
  color : #ffffff;
}

#documentLink {
  border: none;
  border-radius: 0%;
  background-color: rgba(29, 78, 137, 1);
  color : #ffffff;
}

#documentLink:hover {
  border: none;
  border-radius: 0%;
  background-color: rgba(0, 178, 202, 1);
  color : #ffffff;
}


/* ********** Message settings ********** */
#messageContent {
  display: flex;
  flex-flow: column nowrap;
  grid-area: middle;
  height: 400px;
  justify-content: end;
  overflow: scroll;
  padding: 0.2em;
}

.userMessageCard {
  margin: 0.2em 0.2em 0.2em auto;
}

.otherMessageCard {
  margin: 0.2em auto 0.2em 0.2em;
}

.messageCard {
  border: solid black 1px;
  border-radius: 3px;
  display: grid;
  grid-template-areas: 
    'username username username date'
    'message message message message';
  overflow-wrap: break-word;
  padding: 0.2em;
  width: 65%;
}

.msgDate {
  font-weight: lighter;
  grid-area: date;
  text-align: right;
}

.msgUserName {
  font-weight: 600;
  grid-area: username;
}

.message {
  grid-area: message;
  margin: 0em;
  overflow-wrap: break-word;
  width: 90%;
}

/* ********** Footer settings ********** */
#footer {
  grid-area : bottom;
  width: 100%;
  background-color: rgba(29, 78, 137, 1);
  color: #ffffff;
  padding : 3em;
}


/* ********** Responsive settings ********** */
@media (max-width: 600px) {
  #horizontalNav {
    flex-flow: column wrap;
    justify-content: left;
  }


  .mainContent {
    width: 550px;
  }

  #messageContent {
    width: 500px;
  }

  #verticalNav {
    min-width: 10em !important;
    width: auto;
    max-width: 15em !important;
  }
}

@media (min-width: 601px) {
  #verticalNav {
    min-width: 20em !important;
    width: auto;
    max-width: 25em !important; 

  }
}
/* 
@media (max-width: 900px) {
  .mainContent {
    width: 850px;
  }

  #messageContent {
    width: 800px;
  }
}

@media (max-width: 1200px) {
  .mainContent {
    width: 1100px;
  }

  #messageContent {
    width: 1000px;
  }
} */